 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style-signup.css" type="text/css" rel="stylesheet" media="screen,projection"/>

 <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
  <script src="./js/materialize.js"></script>
  <script src="./js/init.js"></script>  


<nav class="black" role="navigation">
                <div class="nav-wrapper container"><a id="logo-container" href="./index.html" class="brand-logo" style="font-family: Deftone-Stylus; color: whitesmoke;">The Cart & Disc</a>
                    <ul class="right hide-on-med-and-down">
                            <a href="#">Navbar Link</a>
                            <li><a href="./signup.html">Sign Up</a></li>
                            <li><a href="./signin.html">Log In</a></li>
                          </ul>
                    
                          <ul id="nav-mobile" class="sidenav">
                            <li><a href="./signup.html">Sign Up</a></li>
                            <li><a href="./signin.html">Log In</a></li>
                            <br>
                            <li><a href="#">Recently Added</a></li>
                            <li><a href="#">Nintendo Switch</a></li>
                            <li><a href="#">XBOX one</a></li>
                            <li><a href="#">PS4</a></li>
                            <li><a href="#">Nintendo 3DS</a></li>
                            <br>
                            <li><a href="./list-game.html">Sell a game</a></li>
                            <li><a href="#">Credit Balance</a></li>
                            <li><a href="./buyer-feedback.html">Leave Feedback</a></li>
                            <br>
                            <li><a href="./ship-game.html">Ship Your Game</a></li>
                          </ul>  
                          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                          <ul class="right hide-on-med-and-down">
                    </ul>
                </div>
            </nav>
    <br><br>
    <div class="container">
        <div class="row">
                <h3>Add a game to trade</h3>
        </div>
        <div class="row">
            <form class="col s12" id="reg-form">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="title" type="text" class="validate" required>
                        <label for="title" class="active" style="font-size: 18px; color: black;">Title *</label>
                        <div class="title-div"></div>
                    </div>
                    <div class="input-field col s6">
                        <div class="select-wrapper"><i class="mdi-navigation-arrow-drop-down active"></i>
                          <select class="initialized" id="console">
                            <option value="" disabled="" selected="">Console *</option>
                            <option value="PS4">PS4</option>
                            <option value="Xbox One">Xbox One</option>
                            <option value="Nintendo Switch">Nintendo Switch</option>
                            <option value="Xbox 360">Xbox 360</option>
                            <option value="PS3">PS3</option>
                            <option value="WiiU">WiiU</option>
                            <option value="Nintendo 3DS">Nintendo 3DS</option>
                            <option value="Nintendo DS">Nintendo DS</option>
                            <option value="Nintendo Legacy">Nintendo Legacy</option>
                            <option value="Playstation Legacy">Playstation Legacy</option>
                            <option value="Xbox Legacy">Xbox Legacy</option>
                            <option value="SEGA">SEGA</option>
                            <option value="Other">Other</option>
                          </select>
                        </div>  
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select id="condition">
                            <option value="" disabled="" selected="">Condition *</option>
                            <option value="Mint">Mint (Never opened) </option>
                            <option value="Excellent">Excellent</option>
                            <option value="Average">Average</option>
                            <option value="Playable">Playable</option>
                            <option value="Fair">Fair</option>
                        </select>
                    </div>
                    <div class="input-field col s6">
                        <input id="price" type="number" class="validate" required>
                        <label for="price" class="active" style="font-size: 18px; color: black;">Price *</label>
                        <div class="price-div"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="message5" class="materialize-textarea" length="200"></textarea>
                        <label for="message">Add more details or leave a message </label>
                        <span class="character-counter" style="float: right; font-size: 12px; height: 10px;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input  id="image-link" type="url" class="validate" required>
                        <label for="image-link" class="active">Add Image URL</label>
                        <div class="image-link-div"></div>
                    </div>  
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <button class="btn btn-med btn-register waves-effect waves-light" data-id={{id}}
                        type="submit" name="action" id="sign-up-submit">List your game
                        <i class="material-icons right">done</i>
                        </button>
                    </div>
                </div>
                <small>*required field</small>
            </form>
        </div>
    </div>
    <script>$(document).ready(function() {
            $('select').formSelect();  
          });</script>
          <script>
    $(document).ready(function(){
    $("#sign-up-submit").on("click",function(e){
        e.preventDefault();
        var title=$("#title").val().trim();
       console.log(title);
       var gameconsole=$("#console").val();
       console.log(gameconsole);
        var condition=$("#condition").val();
        console.log(condition)
        var price=Number($("#price").val());
        var description = $("#message5").val().trim();
        var imgURL=$("#image-link").val().trim();
        var UserId=$(this).data("id");
        var dataObj={
            price:price,
            name:title,
            UserId:UserId
        }
        $.ajax({method:"POST",url:"/api/sellOffers",data:dataObj}).then(function(response){

        })
    })
    });
</script>