<nav class="black" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"
        style="font-family: Deftone-Stylus; color: whitesmoke;">The Cart & Disc</a>
      <ul class="right hide-on-med-and-down">
        {{!-- {{!-- <li><a href="./signup.html">Sign Up</a></li> --!}} --}}
        <div class="valign-wrapper">
        <li>Welcome {{firstName}} {{lastName}}!</li>
        <li><a href="#">Your Rating: <i class="fa fa-fw fa-star" ></i>{{rating}}</a></li> 

        <li><a href="#">Credits: {{credits}}</a></li> 
        </div>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="./signup.html">Sign Up</a></li>
        <li><a href="#">Log In</a></li>
        <br>
        <li><a href="#">Recently Added</a></li>
        <li><a href="#">Nintendo Switch</a></li>
        <li><a href="#">XBOX one</a></li>
        <li><a href="#">PS4</a></li>
        <li><a href="#">Nintendo 3DS</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="nav-wrapper">
    <form id="reg-form">
      <div class="input-field">
        <input type="text" class="validate" required>
      </div>
      <button class="btn btn-large btn-register waves-effect waves-light" type="submit" name="action" id="sign-up-submit">Search
                        
                        </button>
    </form>
  </div>

  <script>
$(document).ready(function(){
  $("#search").on("click",function(e){
    e.preventDefault();
  })
});

</script>