<nav class="black" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"
        style="font-family: Deftone-Stylus; color: whitesmoke;">The Cart & Disc</a>
      <ul class="right hide-on-med-and-down">
        {{!-- {{!-- <li><a href="./signup.html">Sign Up</a></li> --!}} --}}
        <div class="valign-wrapper">
        <li>Welcome {{firstName}} {{lastName}}!</li>
        <li><a href="#">Your Rating: <i class="fa fa-fw fa-star" ></i>{{rating}}</a></li> 

        <li><a href="#">Credits: {{credits}}</a></li> 
        </div>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="./signup.html">Sign Up</a></li>
        <li><a href="#">Log In</a></li>
        <br>
        <li><a href="#">Recently Added</a></li>
        <li><a href="#">Nintendo Switch</a></li>
        <li><a href="#">XBOX one</a></li>
        <li><a href="#">PS4</a></li>
        <li><a href="#">Nintendo 3DS</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="nav-wrapper">
    <form id="reg-form">
      
    <input id="search" type="text">
    </form>
  </div>

  <script>
$(document).ready(function(){
  $(document).keyup(function(event){
    event.preventDefault()
  })
  $("#submit").on("click",function(e){
    e.preventDefault();
  });
  $('form').keypress(function(event) { 
    if (event.keyCode===13){
      event.preventDefault();
      
    }
    
}); 
});

</script>