/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.start-button{
  background: #01ABAA;
}
.index-title{
  color: #FEDC3D;
}
.footer-color{
background-color:  #FEDC3D;
color: black;
}
.butter{
  background-color: #FEDC3D;
}

@font-face {
  font-family: 'Deftone-Stylus' ;
  src: url(' ../resources/fonts/DEFTONE.ttf') format('truetype');
}
@font-face {
  font-family: 'MailartRubberstamp-Regular';
  src: url(' ../resources/fonts/MailartRubberstamp-Regular.otf');
}
#index-banner{
  background-image: url( ../resources/images/index\ background\ 2.png);
  opacity: 0.75;
  background-repeat: 100%;
}
.white-text {
  color: black;
}