/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.start-button{
  background: #01ABAA;
}
.index-body-title{
  color: #FEDC3D; 
  font-family: Deftone-Stylus;
}
.footer-color{
background-color:  #FEDC3D;
color: black;
}
@font-face {
  font-family: 'Deftone-Stylus' ;
  src: url(' ../resources/fonts/DEFTONE.ttf') format('truetype');
}
#index-banner-img{
  background-image: url( ../resources/images/mainImage.png);
  opacity: 0.85;
  background-repeat: 100%;
}
.white-text {
  color: black;
}
#logo-container {
  width: 66%;
}
.parallax-container {
  height: 300px;
}

{background-position: 50% 100px !important;
height: 350px;background-size: 100%;}